.profile-img{
    border-radius: 100%;
    width: 8em;
}
.flex-container{
    padding: 10px;
    display:flex;
    gap:2em;
    justify-content: space-between;
    align-items: center;
    border-bottom:2px solid white;
}

#intro h2{
    padding:10px;
}